a {
	text-decoration: none; 
	font-size: 1.5em; 
	font-family: Tahoma, Verdana, sans-serif;
} 

body {
	background-color: lightblue; 
} 

.container {

	overflow: hidden; 

}

.left { 
	width: 165px; 
	height: auto; 
	background-color: #f2d798; 
	padding: 5px;
	float: left;
	margin-right: 20px; 
	margin-top: 8px;
} 
.content {
	float:left;
}
